{% extends "squelette_getzere.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block corps %}
<div id="recherche">
    <h2>Trouver mon itinéraire : </h2>
    <form class= "form" action="" method="post">
        <label for="pos_init">De :</label>
        <input id="pos_init" type="text" name="pos_init" value="Ma position"/>
        <label for="pos_final">A :</label>
        <input id="pos_final" type="text" name="pos_final"/><br/>

        <input id="submit" type="submit" value="C'est parti">
    </form>
</div>

<div id="infos">
    <p>On peut afficher d'autres infos ici...</p>
</div>
{% endblock %}
