{% extends "squelette_getzere.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block corps %}
<div id="recherche">
    <div class="content">
        <p class="subtitle">Trouver mon itinéraire : </p>
    </div>
    <form class= "form" action="" method="post">
        <div class="field">
            <label class="label">De :</label>
            <div class="control">
                <input id="pos_init" name="pos_init" class="input is-rounded" type="text" value="Ma position" autocomplete="on">
            </div>
        </div>
        <div class="field">
            <label class="label">A :</label>
            <div class="control">
                <input id="pos_final" name="pos_final" class="input is-rounded" type="text" placeholder="Destination..." autocomplete="on">
            </div>
        </div>

        <input id="submit" type="submit" class="button" value="C'est parti">
    </form>
</div>

{% endblock %}
