{% extends "squelette_getzere.html" %}

{% block corps %}
<div id="recherche">
    <div class="content">
        <p class="subtitle">Trouver mon itinéraire : </p>
    </div>
    <form class="form" action="" method="post">
        <div class="field">
            <label class="label">De :</label>
            <div class="control">
                <input id="pos_init" name="pos_init" class="input is-rounded" type="text" value="Ma position" autocomplete="on">
            </div>
        </div>
        <div class="field">
            <label class="label">A :</label>
            <div class="control">
                <input id="pos_final" name="pos_final" class="input is-rounded" type="text" placeholder="Destination..." autocomplete="on">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input id="bagage" name="bagage" type="checkbox">
                Je suis chargé (bagages...)
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input id="elevation" name="elevation" type="checkbox">
                Je souhaite tenir compte du dénivelé
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input id="pers_bicycle" name="pers_bicycle" type="checkbox">
                Je possède un vélo personnel
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input id="pers_car" name="pers_car" type="checkbox">
                Je possède une voiture personnelle
                </label>
            </div>
        </div>

        <input id="submit0" type="submit" class="button" value="C'est parti">
    </form>
</div>

{% endblock %}
