<!DOCTYPE html>
<html lang="fr">
<head>
    {% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Get'zere{% endblock %}</title>
    <link href="{{ url_for('static', filename='main_bulma.css') }}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% endblock %}
</head>

<body>
    <div class="columns">
        <div class="column is-one-fifth is-0" id="bandeau_lat">
            <div class="contenant_ville">
                <p id="ville">Paris</p>
                <figure class="image is-64x64">
                    <img id="tour_eiffel" src="{{ url_for('static', filename='images/tour_eiffel.png') }}" alt="logo de la tour eiffel"/>
                </figure>
            </div>
            <div class="contenant_logo">
                <p id="name">Get'zere</p>
                <figure class="image is-128x128">
                    <img id="logo" src="{{ url_for('static', filename='images/logo_temp.png') }}" alt="logo Get'zere temporaire"/>
                </figure>
            </div>

            <p class="autor"><i>
                Erwan de Kergaradec <br>
                Axel Compain <br>
                Gabrielle Didelot <br>
            </i></p>
        </div>

        <div class="column is-four-fifth is-0">
            <nav class="level">
                <p class="title">Get'zere : la nouvelle application qui facilite vos trajets</p>
            </nav>

            <div id="corps">
                {% block corps %}
                {% endblock %}
            </div>

            <footer class="footer">Copyright getzere.fr 2018</footer>
        </div>
    </div>

</body>
</html>