{% extends "squelette_getzere.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block corps %}
<div class="content">
    <a href="{{ url_for('index') }}">Faire une nouvelle recherche</a>
</div>

<div class="columns">
    <div class="column is-half" id="donnees">
        <h2>Résultats :</h2>
        <h3>Coordonnées GPS :</h3>
        <p>départ : lat : {{ trip.gps_init['lat'] }}, long : {{ trip.gps_init['lng'] }}</p>
        <p>arrivée : lat : {{ trip.gps_final['lat'] }}, long : {{ trip.gps_final['lng'] }}</p>
        <p>l'option bagage a pour valeur : {{ trip.bagage }}</p>
        <p>l'option elevation a pour valeur : {{ trip.elevation }}</p>
        <p>Voici le bulletin météo :</p>
        <ul>
            <li>pluie : {{ trip.meteo.rain }}</li>
            <li>temperature : {{ trip.meteo.temperature }}</li>
            <li>neige : {{ trip.meteo.snow }}</li>
            <li>convective : {{ trip.meteo.convective_rain }}</li>
        </ul>
        <p><strong>Nous recommandons : {{ trip.recommandation }}</strong></p>
        <p>Pour aller de <strong>{{ trip.init_pos }}</strong> à <strong>{{ trip.final_pos}}</strong>, voici nos analyses :</p>
        <div id="foot">
            <h3>A pied :</h3>
            <ul>
                <li>duree : {{ trip.trip_foot.total_duration }} s</li>
                <li>distance : {{ trip.trip_foot.total_distance }} m</li>
                <li>etapes : {{ trip.trip_foot.steps }}</li>
            </ul>
        </div>
        <div id="bicycle">
            <h3>A vélo :</h3>
            <ul>
                <li>duree : {{ trip.trip_bicycle.total_duration }} s</li>
                <li>distance : {{ trip.trip_bicycle.total_distance }} m</li>
                <li>etapes : {{ trip.trip_bicycle.steps }}</li>
            </ul>
        </div>
        <div id="car">
            <h3>En voiture :</h3>
            <ul>
                <li>duree : {{ trip.trip_car.total_duration }} s</li>
                <li>distance : {{ trip.trip_car.total_distance }} m</li>
                <li>etapes : {{ trip.trip_car.steps }}</li>
            </ul>
        </div>
        <div id="transit">
            <h3>En transport en commun :</h3>
            <ul>
                <li>duree : {{ trip.trip_transit.total_duration }} s</li>
                <li>distance : {{ trip.trip_transit.total_distance }} m</li>
                <li>nombre d'étapes : {{ trip.trip_transit.steps_nbr }}</li>
                <li>etapes : {{ trip.trip_transit.steps }}</li>
            </ul>
        </div>
        <div id="velib">
            <h3>En Vélib :</h3>
            <ul>
                <li>duree : {{ trip.trip_velib.total_duration }} s</li>
                <li>distance : {{ trip.trip_velib.total_distance }} m</li>
                <li>etapes : {{ trip.trip_velib.steps }}</li>
            </ul>
        </div>
    </div>

    <div class="column" id="carte">

        <!-- valeurs à remplacer une fois les bonnes coordonnées récupérées -->

        <figure class="image">
            <iframe id="map"
                    title="Votre trajet"
                    width="550"
                    height="450"
                    src="https://www.openstreetmap.org/export/embed.html?bbox={{ carte.min_lon }}%2C{{ carte.min_lat }}%2C{{ carte.max_lon }}%2C{{ carte.max_lat }}&layer=mapnik">
            </iframe>
        </figure>
    </div>
</div>

{% endblock %}

