{% extends "squelette_getzere.html" %}

{% block header %}
{{ super() }}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
      integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
      crossorigin="anonymous">
{% endblock %}

{% block corps %}
<div class="content">
    <a href="{{ url_for('index') }}">Faire une nouvelle recherche</a>
</div>

<div class="columns">
    <div class="column is-half" id="donnees">
        <h2>Résultats :</h2>
        <p>Pour aller de <strong>{{ trip.init_pos | format_address }}</strong>
            à <strong>{{ trip.final_pos | format_address }}</strong></p>

        <p><strong>Nous vous recommandons : {{ trip.recommendation }}</strong></p>

        <div class="columns">
            <div class="column is-two">
                <input id="submit1" type="submit" class="button" value="A pied" onclick="display_trip('.foot')">
            </div>
            <div class="column is-two">
                <input id="submit2" type="submit" class="button" value="A vélo" onclick="display_trip('.bicycle')">
            </div>
            <div class="column is-two">
                <input id="submit3" type="submit" class="button" value="En voiture" onclick="display_trip('.car')">
            </div>
            <div class="column is-two">
                <input id="submit4" type="submit" class="button" value="En transport" onclick="display_trip('.transit')">
            </div>
            <div class="column is-two">
                <input id="submit5" type="submit" class="button" value="En vélib'" onclick="display_trip('.velib')">
            </div>
        </div>

        <div class="foot type_trip">
            <h3>Pour aller à votre destination à pied :</h3><br>
            <div class="box columns">
                <div class="column is-two">
                    <span class="icon">
                        <i class="fas fa-walking"></i>
                    </span>
                </div>
                <div class="column is-two">
                    <p>Marcher</p>
                </div>
                <div class="column is-two">
                    <p>{{ trip.trip_foot.total_duration | format_time }}</p>
                </div>
                <div class="column is-two">
                    <p>{{ trip.trip_foot.total_distance | format_dist }}</p>
                </div>
            </div>

        </div>
        <div class="bicycle type_trip">
            <h3>Pour aller à votre destination à vélo :</h3><br>
            <div class="box columns">
                <div class="column is-two">
                    <span class="icon">
                        <i class="fas fa-bicycle"></i>
                    </span>
                </div>
                <div class="column is-two">
                    <p>Pédaler</p>
                </div>
                <div class="column is-two">
                    <p>{{ trip.trip_bicycle.total_duration | format_time }}</p>
                </div>
                <div class="column is-two">
                    <p>{{ trip.trip_bicycle.total_distance | format_dist }}</p>
                </div>
            </div>

        </div>
        <div class="car type_trip">
            <h3>Pour aller à votre destination en voiture :</h3><br>
            <div class="box columns">
                <div class="column is-two">
                    <span class="icon">
                        <i class="fas fa-car"></i>
                    </span>
                </div>
                <div class="column is-two">
                    <p>Rouler</p>
                </div>
                <div class="column is-two">
                    <p>{{ trip.trip_car.total_duration | format_time }}</p>
                </div>
                <div class="column is-two">
                    <p>{{ trip.trip_car.total_distance | format_dist }}</p>
                </div>
            </div>
        </div>
        <div class="transit type_trip">
            <h3>Pour aller à votre destination en transport en commun :</h3><br>
                {% for step in trip.trip_transit.distinct_steps %}
                    {% if step[0][4] == "WALKING" %}
                        <div class="box columns">
                            <div class="column is-two">
                                <span class="icon">
                                    <i class="fas fa-walking"></i>
                                </span>
                            </div>
                            <div class="column is-two">
                                <p>Marcher</p>
                            </div>
                            <div class="column is-two">
                                <p>{{ step[-1][1] | format_time }}</p>
                            </div>
                            <div class="column is-two">
                                <p>{{ step[-1][0] | format_dist }}</p>
                            </div>
                        </div><br>
                    {% else %}
                        <div class="box">
                            <div class="columns">
                                <div class="column is-two">
                                    <span class="icon">
                                        <i class="fas fa-bus"></i>
                                    </span>
                                </div>
                                <div class="column is-four">
                                    <p>Bus / Metro</p>
                                </div>
                                <div class="column is-two">
                                    <p>{{ step[-1][1] | format_time }}</p>
                                </div>
                                <div class="column is-two">
                                    <p>{{ step[-1][0] | format_dist }}</p>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-full">
                                    <p>{{ step[0][5][3] }} : {{ step[0][5][0] }} / {{ step[0][5][1] }}</p>
                                </div>
                            </div>
                        </div><br>
                    {% endif %}
                {% endfor %}

        </div>
        <div class="velib type_trip">
            <h3>En Vélib :</h3>
            <ul>
                <li>duree : {{ trip.trip_velib.total_duration }} s</li>
                <li>distance : {{ trip.trip_velib.total_distance }} m</li>
                <li>etapes : {{ trip.trip_velib.steps }}</li>
            </ul>
        </div>
    </div>

    <div class="column" id="carte">

        <figure class="image">

            <!-- @Axel tu peux mettre les <iframe> a l'interieur des balises ci-dessous -->
            <div class="foot type_trip">
                <iframe src="map_foot.html"
                    width="550"
                    height="450" >
                </iframe>
            </div>

            <div class="bicycle type_trip">
                <iframe src="map_bicycle.html"
                    width="550"
                    height="450" >
                </iframe>
            </div>

            <div class="car type_trip">
                <iframe src="map_car.html"
                    width="550"
                    height="450" >
                </iframe>
            </div>

            <div class="transit type_trip">
                <iframe src="map_transit.html"
                    width="550"
                    height="450" >
                </iframe>
            </div>

            <div class="velib type_trip">
                <iframe src="map_velib.html"
                    width="550"
                    height="450" >
                </iframe>
            </div>

        </figure>
    </div>

</div>
<h3>Coordonnées GPS :</h3>
<p>départ : lat : {{ trip.gps_init['lat'] }}, long : {{ trip.gps_init['lng'] }}</p>
<p>arrivée : lat : {{ trip.gps_final['lat'] }}, long : {{ trip.gps_final['lng'] }}</p>
<p>l'option bagage a pour valeur : {{ trip.bagage }}</p>
<p>l'option elevation a pour valeur : {{ trip.elevation }}</p>
<p>Voici le bulletin météo :</p>
<ul>
    <li>pluie : {{ trip.meteo.rain }}</li>
    <li>temperature : {{ trip.meteo.temperature }}</li>
    <li>neige : {{ trip.meteo.snow }}</li>
    <li>convective : {{ trip.meteo.convective_rain }}</li>
</ul>

<!--fonction permettant d'afficher uniquement un certain type de trajet-->
<script>

    function display_trip(balise) {
        $(".type_trip").hide();
        $(balise).show();
    }

    recommandation = "{{ trip.reco_type_trip }}"

    display_trip("." + recommandation)
</script>

{% endblock %}

